[buildout]
develop =
    .
parts =
    numpy-install
    python
eggs = 
    pygsw==0.0.6
    ion-functions

unzip = true

# extends = versions.cfg
versions = versions

# Using our server instead of Pypi for indexing when Pypi goes wrong
# index = http://sddevrepo.oceanobservatories.org/releases/

# When set to false, buildout and its recipe versions must be
# explicitly pinned down and defined.
allow-picked-versions = true

# Useful line to print out the buildout versions you are using
extensions = buildout-versions

# Tells buildout where to download packages in addition to Pypi.
find-links =
    http://sddevrepo.oceanobservatories.org/releases/

[versions]
setuptools=0.6c11
numpy=1.6.2

[numpy-src]
recipe = hexagonit.recipe.download
url = http://pypi.python.org/packages/source/n/numpy/numpy-1.6.2.tar.gz#md5=95ed6c9dcc94af1fc1642ea2a33c1bba
ignore-existing = true

[numpy-install]
recipe = z3c.recipe.egg:setup
setup = ${numpy-src:location}/numpy-1.6.2
args =
    clean
    build
    install

[base_config]
scripts = 
    ipython
entry-points = 
    ipython=scripts.ipython:main

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
scripts = 
    ipython
entry-points = 
    ipython=scripts.ipython:main
